/*http://meyerweb.com/eric/tools/css/reset/*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;}

/*CSS Reset finish*/

.concept{
    display: flex;
    align-items: center;
    background: white;

    cursor: pointer;

    padding: 10px 20px;

    box-shadow: 4px 4px 0px rgba(178, 178, 178, 0.5);
    border-radius: 4px;
    border: 1px solid white;


}


.conflict{
    box-shadow: 4px 4px 0px rgba(255, 0, 0, 0.5);
    border-color: rgb(255, 0, 0);
    border-radius: 4px;
}



.missing{
    box-shadow: 4px 4px 0px rgba(0, 25, 255, 0.5);
    border-color: rgb(0, 25, 255);
    border-radius: 4px;
}

.concept > span{
    display: inline-block;
    line-height: 1;

    font-size: 16px;
    margin-right: 16PX;
}

.concept .childrenBadge{


    display: inline-block;
    color: black;
    margin-left: .5em;
    font-weight: 700;


}



.conceptWrap{
    display: flex;
    justify-items: flex-start;
    margin-top: 14px;
    position: relative;
    top: 0;
    left: 0
}

.conceptActions{
    background: rgba(255,255,255,.85);

    margin-top: -8px;
    margin-right: 8px;
    display: flex;



}

.highlights .conceptActions{

    position: absolute;
    top:8px;
    right: 0;
    flex-direction: row-reverse
}

.pins .conceptActions{

    position: absolute;
    top:8px;
    right: 0;
    background: rgba(255,255,255,.95);
    flex-direction: row-reverse
}



.conceptWrap{
    align-items: center;

}

.conceptActions{
    max-height: 40px;
    margin-left: 4px;
    margin-top: -4px;


}

.wrapL1{
    display: flex;
    justify-items: flex-start;

}

.wrapL1 > .line{
    display: inline-block;
    height: 200px;
    width: 2px;
    margin-top: 4px;
    margin-left: 50px;
    background: rgba(178, 178, 178, 0.5);
}


.wrapL2{
    margin-left: 50px;
    display: flex;
    justify-items: flex-start;
    /*flex-direction: column;*/
}

.wrapL2 > .lineLvl2{
    display: inline-block;
    height: 200px;
    width: 2px;
    margin-top: 4px;

    background: rgba(178, 178, 178, 0.5);
}

.wrapChild{
    display: flex;
    justify-items: flex-start;
    align-items: center;
    margin-top: 14px;
}

.wrapChild .conceptWrap{
    margin-top: 0;
}

.basicArrow{
    color: rgba(178, 178, 178, 0.5);
    /*margin-top: 34px;*/
}

.conflictArrow{
    color: rgb(255, 0, 0);
    font-weight: 700;
}

.missingArrow{
    color: rgb(0, 25, 255);
    font-weight: 700;
}

.conceptChildren{
    /*margin-left: 100px;*/
}

.basic{
    border-color: silver;
}

.pin{
    background: antiquewhite;
    color: black;
}

.child{
    color: gray;
}
.connections-container{
    width: 100%;
    height: 90%;
    flex-grow:0;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    overflow-y: scroll;

    padding-top: 1px;
}




.column-container{
    width: 100%;
    height: 80vh;
    display: flex;

    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    overflow-y: scroll;
    flex-grow:0;

    align-items: flex-start;

    padding-right: 10px;

}

.preview-container{
    width: 100%;


    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;


}

.a-preview{
    font-size: 22px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.concept>button{
    margin-right: 1em;

}


.App {
    background: whitesmoke;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-y: hidden;
}

.pane{

    background-color: #fafafa;
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 0H0v36h36V0zM15.126 2H2v13.126c.367.094.714.24 1.032.428L15.554 3.032c-.188-.318-.334-.665-.428-1.032zM18 4.874V18H4.874c-.094-.367-.24-.714-.428-1.032L16.968 4.446c.318.188.665.334 1.032.428zM22.874 2h11.712L20 16.586V4.874c1.406-.362 2.512-1.468 2.874-2.874zm10.252 18H20v13.126c.367.094.714.24 1.032.428l12.522-12.522c-.188-.318-.334-.665-.428-1.032zM36 22.874V36H22.874c-.094-.367-.24-.714-.428-1.032l12.522-12.522c.318.188.665.334 1.032.428zm0-7.748V3.414L21.414 18h11.712c.362-1.406 1.468-2.512 2.874-2.874zm-18 18V21.414L3.414 36h11.712c.362-1.406 1.468-2.512 2.874-2.874zM4.874 20h11.712L2 34.586V22.874c1.406-.362 2.512-1.468 2.874-2.874z' fill='%23000000' fill-opacity='0.02' fill-rule='evenodd'/%3E%3C/svg%3E");

    border: 8px solid white;
    padding: 0 10px;
}

.pattern{
    background-color: #fafafa;
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 0H0v36h36V0zM15.126 2H2v13.126c.367.094.714.24 1.032.428L15.554 3.032c-.188-.318-.334-.665-.428-1.032zM18 4.874V18H4.874c-.094-.367-.24-.714-.428-1.032L16.968 4.446c.318.188.665.334 1.032.428zM22.874 2h11.712L20 16.586V4.874c1.406-.362 2.512-1.468 2.874-2.874zm10.252 18H20v13.126c.367.094.714.24 1.032.428l12.522-12.522c-.188-.318-.334-.665-.428-1.032zM36 22.874V36H22.874c-.094-.367-.24-.714-.428-1.032l12.522-12.522c.318.188.665.334 1.032.428zm0-7.748V3.414L21.414 18h11.712c.362-1.406 1.468-2.512 2.874-2.874zm-18 18V21.414L3.414 36h11.712c.362-1.406 1.468-2.512 2.874-2.874zM4.874 20h11.712L2 34.586V22.874c1.406-.362 2.512-1.468 2.874-2.874z' fill='%23000000' fill-opacity='0.02' fill-rule='evenodd'/%3E%3C/svg%3E");
    justify-content: space-around

}

.pane h1{
    margin-bottom: 10px;
}



.deals{
    width: 10%;
}

.connections{
    width: 40%;

}

.highlights{
    width: 25%;
}

.pins{
    width: 25%;
}



.preview{
    width: 60%;

    overflow-y: scroll;
    scroll-behavior: smooth;
}

.preview .concept{
    cursor: grab;
}

.exportOptions{
    width: 20%;
}

.conceptGroup{

    text-align: center;


    cursor: pointer;
    color: black;
    padding: 20px;
    transition:  250ms;

    background-color: #fff;
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.06'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");*/

}

.conceptGroup > h2{

    font-weight: bold;


}
a{
    color: hsl(281, 90%, 50%)
}
a:hover{
    color: hsl(281, 100%, 50%)
}




.lightBox-visible {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */

    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255,255,255,0.75); /* Black w/ opacity */
    display: flex;

    justify-content: flex-end;
}

.lightBox-hidden {
    display: none;
}

/* Modal Content */
.lightBox-contents {
    background-color: floralwhite;
    padding-left: 4em;
    padding-right: 4em;


    height: 100%;
    overflow-y: scroll;
}

.lightBox-contents>div {
    width: 100%;
    max-width: 60ch;
}

.lightBox-contents h5{
    font-size: 24px;
    font-family: 'IBM Plex Serif', serif;
}
.lightBox-contents div{
    font-size: 16px;
    font-family: 'IBM Plex Serif', serif;
    line-height: 1.45;
    margin-bottom: 10px;
}

.lightBox-contents mark{
    font-size: 16px;
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
    cursor: pointer;
}

/*Tooltip show on hover mouseover*/

.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
    visibility: hidden;

    width: fit-content;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    top: 125%;
    left: 0%;

    opacity: 0;
    transition: 0.25s;

}

.tooltiptext{
    font-size: 14px;
    font-weight: 300;
    padding: 10px
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 25%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.displayNone{
    display:none;
}

/*Concept as a Toast*/
