@use 'globals';

$primary-color: globals.$primary-color;

$primary-font: globals.$primary-font;

$secondary-font: globals.$secondary-font;

html * {
  font-family: $primary-font;
}

.lightBox-contents p {
  font-family: $secondary-font!important;

}
h1{
  font-size: 36px;
  line-height: 1.25;

  font-family: $secondary-font;
  font-weight: 600;

  margin-top: 1.15em;
  margin-bottom: .45em;
  text-align: center;
  //border-bottom: 1px solid black;
}



h1>small{
  color: black;
  font-size: 22px;

  font-weight: 300;
  line-height: 1.5;
}
h2{
  font-size: 24px;
  color: black;
  font-family: $primary-font;
}

h3{
  font-size: 18px;
  color: black;
  font-family: $primary-font;
}

h4{
  font-size: 14px;
  color: black;
  font-family: $primary-font;

}


h5{
  font-size: 16px;
  font-weight: 500;
  $secondary-font: globals.$secondary-font;
}




mark{
  background-color: rgb(225, 248, 221);
  font-style: italic;
}

mark:hover{
  background-color: rgb(178, 242, 178);
}

/*Tooltip Test*/



mark{
  font-style: italic;
}
