@use 'globals';

$primary-color: globals.$primary-color;

$primary-font: globals.$primary-font;

$secondary-font: globals.$secondary-font;

html * {
  font-family: $primary-font;
}

.lightBox-contents p {
  font-family: $secondary-font!important;

}
h1{
  font-size: 32px;
  line-height: 1.25;

  font-family: $secondary-font;
  font-weight: 700;

}



h1>small{
  color: black;
  font-size: 22px;

  font-weight: 300;
  line-height: 1.5;
}
h2{
  font-size: 24px;
  color: black;
  font-family: $primary-font;
}

h3{
  font-size: 18px;
  color: black;
  font-family: $primary-font;
}

h4{
  font-size: 18px;
  color: gray;
  font-weight: 700;
  font-family: $primary-font;

}


h5{
  font-size: 16px;
  font-weight: 500;
  $secondary-font: globals.$secondary-font;
}




mark{
  background-color: rgb(225, 248, 221);
  font-style: italic;
}

mark:hover{
  background-color: rgb(178, 242, 178);
}

/*Tooltip Test*/



mark{
  font-style: italic;
}


a{
  color: $primary-color;
  cursor: pointer;

}
a:hover{
  color: hsl(281, 100%, 50%)
}


hr{
  border-top: 1px solid rgb(245,245,245);

}
